body {
    display: flex;
    flex-direction: column;
    background: lightblue;
}

button {
    background: rgb(0, 95, 236);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: bold;
}

.adder {}

.todo-item {}

input {
    font-size: 20px;
    padding: 10px;
}